<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC
                "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.mapper.IBrandMapper">
   <select id="findBrandAll" resultType="com.fh.bean.BrandBean">
           select b.brandPicture,b.id,b.brandName,bs.typeId typeId from
           t_shop_brand b left join t_brand_classify bs
           on bs.brandId=b.id
   </select>

</mapper>